name: Auto Merge

on:
  - workflow_dispatch
  # pull_request_target:
  #   types:
  #     - opened
  #     - synchronize
  #     - reopened
  #     - edited
  #     - labeled
  #     - unlabeled
  #     - ready_for_review

jobs:
  automerge:
    runs-on: ubuntu-latest
    steps:
    - uses: reitermarkus/automerge@v2
      with:
        token: ${{ secrets.TOKEN }}
        merge-method: rebase
        pull-request-author-associations: MEMBER,OWNER
        dry-run: false