name: Bump Cask

on:
  - workflow_dispatch

jobs:
  bump-casks:
    runs-on: macos-latest
    steps:
      - name: Update Homebrew cask
        uses: eugenesvk/action-homebrew-bump-cask@3.8.6
        with:
          # Required, custom GitHub access token with only the 'public_repo' scope enabled
          token: ${{secrets.TOKEN}}
          tap: vrcx-team/homebrew-vrcx-tap
          livecheck: true

  automerge:
    runs-on: ubuntu-latest
    steps:
    - uses: reitermarkus/automerge@v2
      with:
        token: ${{ secrets.TOKEN }}
        merge-method: rebase
        pull-request: ${{ github.event.inputs.pull-request }}
        pull-request-author-associations: MEMBER,OWNER
        dry-run: false